manifest {
  mainScript = 'unistrap.nf'
  description = 'Reliability measure of inferred phylogenetic trees'
}

params.out_dir = "Shootstrap_Analysis_Results"

process {
  publishDir = [path:params.out_dir, mode:'copy'] 
  container = 'cbcrg/shootstrap-nf@sha256:e12a0c250efe3a9ee46dab86b38ca96c2b1f2b063c2276a4ebd4fa5048e1fa3b' 
}
